<div class="pages">

  <section class="banner" style="background-image: url('<%= image_path 'banner_4.png' %>');">
    <div class="container">
      <div class="row text-center">
        <div class="col-md-5 ">
        </div>
        <div class="col-md-7 text-left">
          <h1>Vous êtes au bon endroit</h1>
          <p>Equipe digital pour PME en croissance ou simplement ambitieuse <i class="fa fa-heart text-red" aria-hidden="true"></i> <i class="fa fa-heart text-red" aria-hidden="true"></i></p>
          <br>
          <button class="btn btn-red">Je suis une entreprise</button>
          <button class="btn btn-red">Je suis freelance</button>
        </div>
      </div>
    </div>
  </section>

</div>
