<div class="pages">

  <section class="banner" style="background-image: url('<%= image_path 'banner_4.png' %>');">
    <div class="container">
      <div class="row text-center">
        <div class="col-md-5 ">
        </div>
        <div class="col-md-7 text-left">
          <h1>Salut! </h1>
          <p>Couteau suisse digital pour pme / entreprise en plein lancement <i class="fa fa-heart text-red" aria-hidden="true"></i> <i class="fa fa-heart text-red" aria-hidden="true"></i></p>
          <br>
          <button class="btn btn-red">Je suis une entreprise</button>
          <button class="btn btn-red">Je suis freelance</button>
        </div>
      </div>
    </div>
  </section>

<!-- Expériences -->

<!--     Djump

    Take Eat Easy

    Nathalie Dewez

    Ekla

    HNB -->

<!-- Formations -->

<!-- Projets -->

</div>
